In [108]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder, PolynomialFeatures, MinMaxScaler
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [109]:
!ls data

column_names.md          housing_data_cleaned.csv kc_house_data.csv

In [110]:
df = pd.read_csv('data/housing_data_cleaned.csv')

In [111]:
df['house_age'] = pd.to_datetime(df['date']).dt.year - df['yr_built']
df

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sqft_patio,yr_built,address,lat,long,zipcode,condition_code,grade_code,view_code,house_age
0,0,5/24/2022,675000,4,1.0,1180,7140,1.0,0,0,...,40,1969,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052,98055,3,5,0,53
1,1,12/13/2021,920000,5,2.5,2770,6703,1.0,0,0,...,240,1950,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591,98133,2,5,2,71
2,2,9/29/2021,311000,6,2.0,2880,6156,1.0,0,0,...,0,1956,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520,98178,2,5,2,65
3,3,12/14/2021,775000,3,3.0,2160,1400,2.0,0,0,...,270,2010,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020,98118,2,7,2,11
4,4,8/24/2021,592500,2,2.0,1120,758,2.0,0,0,...,30,2012,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188,98027,2,5,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29144,30150,11/30/2021,1555000,5,2.0,1910,4000,1.5,0,0,...,210,1921,"4673 Eastern Avenue North, Seattle, Washington...",47.664740,-122.32940,98103,3,6,0,100
29145,30151,6/16/2021,1313000,3,2.0,2020,5800,2.0,0,0,...,520,2011,"4131 44th Avenue Southwest, Seattle, Washingto...",47.565610,-122.38851,98116,2,5,1,10
29146,30152,5/27/2022,800000,3,2.0,1620,3600,1.0,0,0,...,110,1995,"910 Martin Luther King Jr Way, Seattle, Washin...",47.610395,-122.29585,98122,2,5,0,27
29147,30153,2/24/2022,775000,3,2.5,2570,2889,2.0,0,0,...,100,2006,"17127 114th Avenue Southeast, Renton, Washingt...",47.449490,-122.18908,98055,2,6,0,16
29148,30154,4/29/2022,500000,3,1.5,1200,11058,1.0,0,0,...,0,1965,"18615 7th Avenue South, Burien, Washington 981...",47.435840,-122.32634,98148,2,5,0,57

In [160]:
df.shape

(29149, 25)

In [353]:
base = ['sqft_living', "zipcode"]
#train:0.6585260097078713
#test: 0.6721810551907055
#Mean Absolute Error = 0.19495154764086445 USD
#Root Mean Square Error = 0.3140156327671901 USD


first_model = ['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'greenbelt', 'nuisance',
       'heat_source', 'sewer_system', 'sqft_above', 'zipcode']
#train:0.6776138712849855
#test: 0.6920487138526318
#Mean Absolute Error = 0.20139718013427008 USD
#Root Mean Square Error = 0.32177329072944216 USD

second_model = ["bedrooms", "sqft_living", "zipcode"] 
#train:0.6588345681515111
#test: 0.6723798684442771
#Mean Absolute Error = 0.2089243020275157 USD
#Root Mean Square Error = 0.3318900794416218 USD

third_model = ["bedrooms", "sqft_living", "zipcode", "grade_code"]
#train:0.6703005351126972
#test: 0.6891912608078159
#Mean Absolute Error = 0.20211459116760824 USD
#Root Mean Square Error = 0.3232626967981155 USD

fourth_model = ["bedrooms", "sqft_living", "zipcode", "grade_code", "waterfront"]
#train:0.6795061921426303
#test: 0.7007440065609256
#Mean Absolute Error = 0.19886998377475426 USD
#Root Mean Square Error = 0.31719797743507183 USD

fifth_model = ["bedrooms", "sqft_living", "zipcode", "grade_code", "waterfront", "sewer_system"]
#train:0.6796062274665808
#test: 0.700710758450466
#Mean Absolute Error = 0.19885898959938875 USD
#Root Mean Square Error = 0.3172155977011824 USD

sixth_model = ["bedrooms", "sqft_living", "zipcode", "grade_code", "waterfront", "greenbelt", 'house_age']
#train:0.6817204306807647
#test: 0.7029833350934245
#Mean Absolute Error = 0.1973508968352714 USD
#Root Mean Square Error = 0.3160089548207298 USD

seventh_model = ["bedrooms", "sqft_living", "zipcode", "grade_code", "waterfront", "greenbelt", 'house_age', 'condition_code']
#train:0.6858752518669664
#test: 0.7067185621661012
#Mean Absolute Error = 0.19495154764086445 USD
#Root Mean Square Error = 0.3140156327671901 USD

eighth_model = ["bedrooms", "bathrooms", "sqft_living", "sqft_above", "floors", "sqft_garage", "sqft_patio", "grade_code", "view_code", "condition_code", "zipcode", "house_age","waterfront", "greenbelt"]
y = np.log(df['price'])
X = df[eighth_model]
#train:0.6963980917538322
#test: 0.7142325912844265
#Mean Absolute Error = 0.191940701502945 USD
#Root Mean Square Error = 0.3127615869186019 USD

X_train, X_test, y_train, y_test = train_test_split(X,y , test_size = .3, random_state = 42)

scaler = StandardScaler()
scaler.fit(X_train)
X_train_transformed = scaler.transform(X_train)
X_test_transformed = scaler.transform(X_test)

In [354]:
ohe = OneHotEncoder(sparse = False)

ohe_train = ohe.fit_transform(X_train[['zipcode']])
ohe_test = ohe.transform(X_test[['zipcode']])

ohe_train = pd.DataFrame(ohe_train, columns = ohe.get_feature_names())
ohe_test  = pd.DataFrame(ohe_test, columns = ohe.get_feature_names())

In [355]:
X_train_ohe = pd.concat([X_train.drop(columns = ['zipcode']).reset_index(), ohe_train],1)
X_test_ohe = pd.concat([X_test.drop(columns = ['zipcode']).reset_index(), ohe_test],1)

In [356]:
lr = LinearRegression()

results = lr.fit(X_train_ohe, y_train)
print('train:{}'.format(lr.score(X_train_ohe,y_train)))
print('test: {}'.format(lr.score(X_test_ohe, y_test)))

train:0.6963980917538322
test: 0.7142325912844265

In [346]:
r_squared = lr.score(X_train_ohe, y_train)
r_squared

0.6933017051091339

In [347]:
adj_r2 = 1 - (1-r_squared) * ((len(y)-1)/ (len(y)-X_train_ohe.shape[1]-1))
adj_r2

0.6923729559711299

In [348]:
y_pred = lr.predict(X_test_ohe)
y_pred

array([13.26285247, 14.02776992, 13.49821692, ..., 13.30387634,
       15.05120473, 13.31688173])

In [349]:
X_test_ohe.shape

(8745, 88)

In [350]:
y_test.shape

(8745,)

In [351]:
lr.score(X_test_ohe, y_test)

0.7094763034941864

In [352]:
MAE = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error =", MAE, "USD")

RMSE = mean_squared_error(y_test, y_pred, squared = False)
print("Root Mean Square Error =", RMSE, "USD")

Mean Absolute Error = 0.19160190128229176 USD
Root Mean Square Error = 0.31253579275075155 USD